@page "/crimesearch"

<PageTitle>Crime Search</PageTitle>

<h1>Crime Search</h1>


<p role="status">Last Reported Crime Date: @lastCrimeDate</p>

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@


<EditForm>

</EditForm>