@page "/"

<PageTitle>Home</PageTitle>
<div>
    <h1>Welcome to my WPC Software technical test</h1>
</div>

<br/>

<div>
    <h3><strong>Key Elements:</strong></h3>
    <ul>

        <li>Blazor UI with MudBlazor component library</li>
    </ul>
    
</div>

<br/>

<div>
    <h3><strong>Third Party Libraries Used:</strong></h3>

    <ul>
        <li>xUnit + test runner</li>
        <li>Moq</li>
        <li>Fluent Assertions</li>
        <li>MudBlazor UI component library</li>
    </ul>
</div>

