@page "/"

<PageTitle>Home</PageTitle>
<div>
    <h1>Welcome to my WPC Software technical test</h1>
</div>

<br/>

<div>
    <h3><strong>Key Elements:</strong></h3>
    <br />
    <ul>
        <li>&bull; Blazor WebAssembly application using MudBlazor UI component library</li>
        <li>&bull; HttpClientFactory used to allow expansion to other API sources</li>
        <li>&bull; Blazor components showing communication between parent and child components</li>
        <li>&bull; Unit tests for service and helper classes</li>
    </ul>
    
</div>

<br/>

<div>
    <h3><strong>Third Party Libraries Used:</strong></h3>
    <br />
    <ul>
        <li>&bull; xUnit + test runner</li>
        <li>&bull; Moq</li>
        <li>&bull; Fluent Assertions</li>
        <li>&bull; MudBlazor UI component library</li>
    </ul>
</div>

<MudAlert Severity="Severity.Info" Class="my-4">
    Click the <strong>Crime Search</strong> link in the navigation bar to begin
</MudAlert>
